[Desktop Entry]
Encoding=UTF-8
Name=Link to Image result for cat image
Type=Link
URL=https://www.google.com/search?q=cat+image&client=firefox-b-1-d&tbm=isch&source=iu&ictx=1&fir=rhaDRoK406Z9TM%252Cht29CcN2-zkCmM%252C_&vet=1&usg=AI4_-kQEvotAICxQCt5a46p_FcFOdUA6rg&sa=X&ved=2ahUKEwiV2ZXSq7HwAhUFIDQIHTEWDMkQ9QF6BAgSEAE#imgrc=rhaDRoK406Z9TM
Icon=text-html
